<div ng-controller="registerController">
  <h2 class="form-signin-heading">Register</h2>
  <form class="form-signin" name='myForm' ng-submit='callCreateUser(newUser)'>
    <div ng-if="registerErrors" id="registerErrorsDiv">
  		<div ng-repeat="error in registerErrors" class="alert alert-danger fade in registerErrors">
  		    <strong>Error:</strong> {{ error.message }}
  		</div>
	  </div>
    <p>First Name: <input class="form-control" type="text" ng-model='newUser.first_name' required="true"></p>
    <p>Last Name: <input class="form-control" type="text" ng-model='newUser.last_name' required="true"></p>
    <p>Email: <input class="form-control" type="text" ng-model='newUser.email' required="true"></p>
    <div ng-if="match_fail" class="alert alert-danger fade in registerErrors">
      <!-- <a href="#" class="close" data-dismiss="alert">&times;</a> -->
      <strong>Error:</strong> {{ match_fail }}
    </div>
    <p>Password: <input class="form-control" type="password" ng-model='newUser.password' required="true"></p>
    <p>Password Confirmation: <input class="form-control" type="password" ng-model='newUser.password_conf' required="true"></p>
    <p>Birthday: <input class="form-control" type="date" ng-model='newUser.birthday' required="true"></p>
    <p>Gender:  <select class="form-control" ng-model='newUser.gender'>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
    </p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Click to Register</button>
  </form>
</div>

<hr>

<div class="">
  <a href="#!/">Already a Member?</a>
</div>
